html, body {
    background-color: #fff;
    color: #636b6f;
    font-family: 'Nunito', sans-serif;
    font-weight: 200;
    height: 100vh;
    margin: 1rem 2rem;
}


#imagenes_mapa {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

#imagenes_mapa > div.principal {
    width: 50%;
}

.mensaje_inicial{
 text-align: center;
}
